{% extends 'base.html' %}
{% load static %}
{% block title %}宫颈单细胞多分类识别系统{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'a.css' %}">
        {% if message %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
        {% endif %}
{#        <h2 style="text-align: center;">欢迎回来！</h2><br>#}
        <div style="text-align: center;">
            <form method="post" action="/system/" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <label for="id_file" id="uploadLabel">选择图片</label>
                <span id="file-chosen">未选择任何文件</span>
                <br>
                <input class="btn btn-primary" type="submit" value="多分类识别图像处理">
            </form>

        </div>
    <div style="width: 70%;margin: 0 auto;">
            {% if user.headimg %}
                <br>
                <div style="display: inline-block;margin-right: 50px;">
                    <span style="display: block">原图</span>
                    <img src="/media/{{ user.headimg }}" class="img-thumbnail">
                    <br>
                    <br>
                    <span style="display: block">分割结果图</span>
                    <img src="/media/{{ user.headimg }}" class="img-thumbnail">
                    <br>
                    <br>
                    <br>
                    <span>类别：</span> <br>
                    <span>{{ predicted }}</span>
{#                {{ cell_nucleus }}#}
                </div>


                <div style="width: 70%;text-align: center;margin: 0 auto;display: inline-block;vertical-align:top;">
                    <h4 align="center">形态特征</h4>
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th scope="col">核周长</th>
                          <th scope="col">核面积</th>
                          <th scope="col">细胞面积</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td>{{ nuclear_area }} PX</td>
                          <td>{{ cell_area }} PX</td>
                        </tr>
                      </tbody>
                    </table>

                    <h4 align="center">颜色特征</h4>
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th scope="col" colspan="3">均值</th>
                          <th scope="col" colspan="3">方差</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>R</td>
                          <td>G</td>
                          <td>B</td>
                          <td>R</td>
                          <td>G</td>
                          <td>B</td>
                        </tr>
                      <tr>
                          <td>{{ R_mean }}</td>
                          <td>{{ G_mean }}</td>
                          <td>{{ B_mean }}</td>
                          <td>{{ R_variance }}</td>
                          <td>{{ G_variance }}</td>
                          <td>{{ B_variance }}</td>
                        </tr>
                      </tbody>
                    </table>

                <h4 align="center">纹理特征</h4>
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th scope="col">能量</th>
                          <th scope="col">角二阶矩 / 能量</th>
                          <th scope="col">对比度</th>
                          <th scope="col">自相关性</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ energy }}</td>
                          <td>{{ asm }}</td>
                          <td>{{ contrast }}</td>
                          <td>{{ correlation }}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>

            {% endif %}

    </div>
        <br>
        <br>
{#{{ datalist }}#}

<div id="chart2" style="height: 500%;width: 80%;margin: auto"></div>
        <br><br>
<div id="chart" style="height: 500%;width: 80%;margin: auto"></div>
<script type="text/javascript">

const actualBtn = document.getElementById('id_file');
const fileChosen = document.getElementById('file-chosen');
actualBtn.addEventListener('change', function(){
  fileChosen.textContent = this.files[0].name
});


</script>
<br>


{% endblock %}